.artist {
  background: #2c3134;
  border-radius: 10px;
}

.artist-image {
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.artist-image.no-image {
  background: #ddd;
}

.artist-name {
  font-weight: bold;
  font-size: .9rem;
  margin-bottom: 0;
}