:root {
  --black: #191414;
  --green: #1DB954;
  --green-bright: #1ED760;
}

body {
  background: var(--black);
  color: white;
}

.bg-dark {
  background-color: var(--black) !important;
}

.logo {
  max-width: 200px;
  margin: 2.5% auto;
  display: block;
}

.btn {
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 11px 32px 9px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.btn-primary {
  background: var(--green);
  color: white;
}

.btn.btn-primary:hover {
  background: var(--green-bright);
  outline: none;
  border-color: var(--green-bright);
}

.table-dark {
  background-color: var(--black);
}

.form-control {
  border-radius: 500px;
}